<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Black Stallion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description"
		content="Boost your Digital products. We are a startup, our principal objetive is create your product design. Our main goal is client satisfaction." />
	<meta name="keywords" content="digital products product design development software" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="twitter:card" content="summary" />
	<!-- <meta name="twitter:site" content="@blackstallion" /> -->
	<!-- <meta name="twitter:creator" content="@blackstallion" /> -->
	<meta property="og:title" content="Black Stallion - Boost your Digital products" />
	<meta property="og:url" content="https://www.blackstallion.com" />
	<meta property="og:description"
		content="Boost your Digital products. We are a startup, our principal objetive is create your product design. Our main goal is client satisfaction." />
	<meta property="og:image" content="https://www.blackstallion.com/favicon-32x32.png" />
	<meta property="og:type" content="website" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<nav class="navbar nav-down navbar-default navbar-expand-lg navbar-toggleable-sm">
			<a class="navbar-brand logo" href="/"><img src="/favicon-32x32.png" alt="" />Black Stallion</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"  data-toggle="collapse"
					data-target="#navbarSupportedContent">
						<a href="#why">Why choose us?</a>
					</li>
					<li class="nav-item active">
						<a href="#prod-design" data-toggle="collapse"
						data-target="#navbarSupportedContent">What is a product design?</a>
					</li>
					<li class="nav-item active" data-toggle="collapse"
					data-target="#navbarSupportedContent">
						<a href="#team">The team</a>
					</li>
					<li class="nav-item active" data-toggle="collapse"
					data-target="#navbarSupportedContent">
						<a href="#work">Contact us</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>
	</header>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<div>
				<h1>Boost your Digital products</h1>
				<p class="mb-4">We are a startup, our principal objetive is create your product design.
					<br />
					Our main goal is client satisfaction.</p>
				<a href="#work" class="button" id="btn-work">
					Let’s work together!
				</a>
			</div>

		</div>
	</section>
	<div class="see-more text-center">
		<a href="#why">
			<p>See more</p>
			<i class="fa fa-chevron-down" aria-hidden="true"></i>
		</a>
	</div>
	<!-- Highlights -->
	<section class="wrapper" id="why">
		<div class="inner">
			<header class="special">
				<h2>Why choose us?</h2>
				<p>We are a passionate team for details and amazing products.<br/> 
					We love to get involve in client needs, process and develop Taylor made projects.</p>
			</header>
			<div class="highlights">
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>Quick results</h3>
						</header>
						<p>Agile and Lean methodologies for small and large budgets.</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>User Experience</h3>
						</header>
						<p>Design of comfortable and usable processes for the user.</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>User Interface</h3>
						</header>
						<p>Elements and attractive structures for the user Brand</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>Development</h3>
						</header>
						<p>We have the skills you need
							React, Node.js and much more to come<p>
					</div>
				</section>	
			</div>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper">
		<div class="inner">
			<h2>Curabitur ullamcorper ultricies</h2>
			<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus
				ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes
				viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit
				adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc
				lacinia ante nunc ac gravida.</p>
		</div>
	</section>

	<!-- Testimonials -->
	<section class="wrapper">
		<div class="inner">
			<header class="special">
				<h2>Faucibus consequat lorem</h2>
				<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis
					commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
			</header>
			<div class="testimonials">
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
								non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="/img/pic01.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
								non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="/img/pic03.jpg" alt="" />
							</div>
							<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
						</div>
					</div>
				</section>
				<section>
					<div class="content">
						<blockquote>
							<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer
								non faucibus.</p>
						</blockquote>
						<div class="author">
							<div class="image">
								<img src="/img/pic02.jpg" alt="" />
							</div>
							<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<!-- Testimonials -->
	<section class="wrapper" id="work">
		<div class="inner">
			<header class="special">
				<h2>Let’s work together!</h2>
			</header>
			<div class="contact-form">
				<!--#region Form -->
				<form action="/email" method="post" id="contact_form">
					<div class="name">
						<label for="name"></label>
						<input type="text" placeholder="Your Name" name="name" id="name_input" required>
					</div>
					<div class="email">
						<label for="email"></label>
						<input type="email" placeholder="Your Email" name="email" id="email_input" required>
					</div>
					<div class="message">
						<label for="message"></label>
						<textarea name="message" placeholder="Your message" id="message_input" rows="3" required></textarea>
					</div>
					<div class="submit">
						<button type="submit" id="form_button">Send project</button>
					</div>
				</form>
				<!--#endregion Form-->
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Accumsan montes viverra</h3>
					<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
						faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius
						montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
						Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet
						praesent. Nunc lacinia ante nunc ac gravida.</p>
				</section>
				<section>
					<h4>Sem turpis amet semper</h4>
					<ul class="alt">
						<li><a href="#">Dolor pulvinar sed etiam.</a></li>
						<li><a href="#">Etiam vel lorem sed amet.</a></li>
						<li><a href="#">Felis enim feugiat viverra.</a></li>
						<li><a href="#">Dolor pulvinar magna etiam.</a></li>
					</ul>
				</section>
				<section>
					<h4>Magna sed ipsum</h4>
					<ul class="plain">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a
					href="https://coverr.co">Coverr</a>.
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>

</body>

</html>