<!DOCTYPE HTML>
<html>
<head>
	<title>Black Stallion</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description"
		content="We are a startup, our principal objetive is create your product design. Our main goal is client satisfaction." />
	<meta name="keywords" content="digital products product design development software" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<meta name="twitter:card" content="summary" />
	<!-- <meta name="twitter:site" content="@blackstallion" /> -->
	<!-- <meta name="twitter:creator" content="@blackstallion" /> -->
	<meta property="og:title" content="Black Stallion - Boost your Digital products" />
	<meta property="og:url" content="https://blackstallion.herokuapp.com/" />
	<meta property="og:description"
		content="We are a startup, our principal objetive is create your product design. Our main goal is client satisfaction." />
	<meta property="og:image" content="https://blackstallion.herokuapp.com/img/logo-300x300.png" />
	<meta property="og:type" content="website" />
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<nav class="navbar nav-down navbar-default navbar-expand-lg navbar-toggleable-sm">
			<a class="navbar-brand logo" href="#header"><img src="/favicon-32x32.png" alt="" />Black Stallion</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a href="#why">Why choose us?</a>
					</li>
					<li class="nav-item active">
						<a href="#prod-design">What is a product design?</a>
					</li>
					<li class="nav-item active">
						<a href="#team">The team</a>
					</li>
					<li class="nav-item active">
						<a href="#work">Contact us</a>
					</li>
				</ul>
			</div>
			</div>
		</nav>
	</header>
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<div>
				<h1>Boost your Digital products</h1>
				<p class="mb-4">We are a startup, our principal objetive is create your product design.
					<br />
					Our main goal is client satisfaction.</p>
				<a href="#work" class="button" id="btn-work">
					Let’s work together!
				</a>
			</div>

		</div>
	</section>
	<div class="see-more text-center">
		<a href="#why">
			<p>See more</p>
			<i class="fa fa-chevron-down" aria-hidden="true"></i>
		</a>
	</div>
	<!-- Highlights -->
	<section class="wrapper" id="why">
		<div class="inner">
			<header class="special">
				<h2>Why choose us?</h2>
				<p>We are a passionate team for details and amazing products.<br />
					We love to get involve in client needs, process and develop Taylor made projects.</p>
			</header>
			<div class="highlights">
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>Quick results</h3>
						</header>
						<p>Agile and Lean methodologies for small and large budgets.</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>User Experience</h3>
						</header>
						<p>Design of comfortable and usable processes for the user.</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>User Interface</h3>
						</header>
						<p>Elements and attractive structures for the user Brand</p>
					</div>
				</section>
				<section>
					<div class="content">
						<header>
							<img class="why-img" src="/img/noun_result_2120959 (1).png" alt="">
							<h3>Development</h3>
						</header>
						<p>We have the skills you need
							React, Node.js and much more to come
						<p>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!--#region Design process -->
	<section id="prod-design" class="custom-section">
		<div class="inner">
			<section>
				<header class="custom">
					<h2>How is our
						design process?</h2>
					<p>It’ s about the entire process of creating usable products and experiences, starting by defining real
						people’s problems and thinking about possible solutions.</p>
				</header>
			</section>
			<section>
				<img class="product-design-image" src="/img/product_design.jpeg" alt="Product design image">
			</section>

		</div>
	</section>
	<!--#endregion Design process -->
	<!--#region Team -->
	<section id="team" class="custom-section">
		<div class="inner">
			<section>
				<header class="custom">
					<h2>The team</h2>
					<p class="p-space">Reporting for you</p>
					<div id="team-carousel" class="carousel slide" data-ride="carousel" data-interval="false" >
						<div class="carousel-inner">
							<div class="carousel-item active">
								<h2 class="h2-special">Marcos Defensa</h2>
								<h3>Product Designer/Client Service</h3>
								<p>I am a Graphic Designer passionate about digital products, with more than three years of experience
									in the
									market. My main goals are the perfect combination between user needs and client profits.
									I love equitation, wakeboarding and snowboarding.</p>
								<div class="skills">
									<div class="card skill-item">
										<span>XD</span>
									</div>
									<div class="card skill-item">
										<span>GSuite</span>
									</div>
									<div class="card skill-item">
										<span>Miro</span>
									</div>
									<div class="card skill-item">
										<span>Discord</span>
									</div>
									<div class="card skill-item">
										<span>Zeplin</span>
									</div>
									<div class="card skill-item">
										<span>Figma</span>
									</div>
									<div class="card skill-item">
										<span>Sketch</span>
									</div>
									<div class="card skill-item">
										<span>HTML</span>
									</div>
									<div class="card skill-item">
										<span>CSS</span>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<h2 class="h2-special">Marcos Defensa</h2>
								<h3>Product Designer/Client Service</h3>
								<p>I am a Graphic Designer passionate about digital products, with more than three years of experience
									in the
									market. My main goals are the perfect combination between user needs and client profits.
									I love equitation, wakeboarding and snowboarding.</p>
								<div class="skills">
									<div class="card skill-item">
										<span>XD</span>
									</div>
									<div class="card skill-item">
										<span>GSuite</span>
									</div>
									<div class="card skill-item">
										<span>Miro</span>
									</div>
									<div class="card skill-item">
										<span>Discord</span>
									</div>
									<div class="card skill-item">
										<span>Zeplin</span>
									</div>
									<div class="card skill-item">
										<span>Figma</span>
									</div>
									<div class="card skill-item">
										<span>Sketch</span>
									</div>
									<div class="card skill-item">
										<span>HTML</span>
									</div>
									<div class="card skill-item">
										<span>CSS</span>
									</div>
								</div>
							</div>
							<div class="carousel-item">
								<h2 class="h2-special">Marcos Defensa</h2>
								<h3>Product Designer/Client Service</h3>
								<p>I am a Graphic Designer passionate about digital products, with more than three years of experience
									in the
									market. My main goals are the perfect combination between user needs and client profits.
									I love equitation, wakeboarding and snowboarding.</p>
								<div class="skills">
									<div class="card skill-item">
										<span>XD</span>
									</div>
									<div class="card skill-item">
										<span>GSuite</span>
									</div>
									<div class="card skill-item">
										<span>Miro</span>
									</div>
									<div class="card skill-item">
										<span>Discord</span>
									</div>
									<div class="card skill-item">
										<span>Zeplin</span>
									</div>
									<div class="card skill-item">
										<span>Figma</span>
									</div>
									<div class="card skill-item">
										<span>Sketch</span>
									</div>
									<div class="card skill-item">
										<span>HTML</span>
									</div>
									<div class="card skill-item">
										<span>CSS</span>
									</div>
								</div>
							</div>
						</div>
						<ol class="carousel-indicators">
							<li class="slide-control active" id="slide-0" data-target="#team-carousel" data-slide-to="0"></li>
							<li class="slide-control" id="slide-1" data-target="#team-carousel" data-slide-to="1"></li>
							<li class="slide-control" id="slide-2" data-target="#team-carousel" data-slide-to="2"></li>
						</ol>
					</div>
				</header>
			</section>
			<section>
				<div id="team-imgs" class="carousel slide" data-ride="carousel" data-interval="false" >
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="product-design-image" src="/img/team-1.png" alt="Team member image">
						</div>
						<div class="carousel-item">
							<img class="product-design-image" src="/img/team-1.png" alt="Team member image">
						</div>
						<div class="carousel-item">
							<img class="product-design-image" src="/img/team-1.png" alt="Team member image">
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
	<!--#endregion Team -->
	<section class="wrapper" id="work">
		<div class="inner">
			<header class="special">
				<h2>Let’s work together!</h2>
			</header>
			<div id="result" class="alert alert-secondary" role="alert" style="display: none;">
			</div>
			<div class="contact-form">
				<!--#region Form -->
				<form method="post" id="contact_form">
					<div class="name">
						<label for="name"></label>
						<input type="text" placeholder="Your Name" name="name" id="name_input" required>
					</div>
					<div class="email">
						<label for="email"></label>
						<input type="email" placeholder="Your Email" name="email" id="email_input" required>
					</div>
					<div class="message">
						<label for="message"></label>
						<textarea name="message" placeholder="Your message" id="message_input" rows="3" required></textarea>
					</div>
					<div class="submit">
						<button type="submit" id="form_button">Send project</button>
					</div>
				</form>
				<!--#endregion Form-->
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<!-- <h4>Sem turpis amet semper</h4> -->
					<ul class="alt">
						<li><a href="#why">Why choose us?</a></li>
						<li><a href="#prod-design">What is a product design?</a></li>
						<li><a href="#team">The team</a></li>
						<li><a href="#work">Contact us</a></li>
					</ul>
				</section>
				<section>
					<!-- <h4>Magna sed ipsum</h4> -->
					<ul class="plain text-right">
						<li><a href="#"><i class="icon fa-twitter">&nbsp;</i></a></li>
						<li><a href="#"><i class="icon fa-facebook">&nbsp;</i></a></li>
						<li><a href="#"><i class="icon fa-instagram">&nbsp;</i></a></li>
						<li><a href="#"><i class="icon fa-github">&nbsp;</i></a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; Black Stallion
			</div>
		</div>
	</footer>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>